
<div class="customer-list--container">
  <mat-spinner class="app-loading-shade" *ngIf="customerItemsLoading$ | async"></mat-spinner>
  <div class="customer-list--toolbar">
    <form id="customer-identification-form"  class="u__margin-5" [formGroup]="searchForms">
      <mat-form-field>
        <input matInput placeholder="คำค้นหา" value="" formControlName="search" required>
      </mat-form-field>
    </form>
    <button class="u__margin-5" color="primary" mat-raised-button (click)="searchCustomer()">ค้นหา</button>
    <button class="u__margin-5" color="primary" mat-raised-button [routerLink]="['./input']" routerLinkActive="router-link-active" >เพิ่มข้อมูลรับรถ</button>
  </div>
  <mat-divider>
  </mat-divider>
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="insure_type_desc">
      <th mat-header-cell *matHeaderCellDef> ประกัน </th>
      <td mat-cell *matCellDef="let element"> {{element.insure_type_desc}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="contact_date">
      <th mat-header-cell *matHeaderCellDef> วันที่ติดต่อ </th>
      <td mat-cell *matCellDef="let element"> {{element.contact_date | dateTh}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> ยี่ห้อ </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>
    <ng-container matColumnDef="contact_tel">
      <th mat-header-cell *matHeaderCellDef> เบอร์ติดต่อ </th>
      <td mat-cell *matCellDef="let element"> {{element.contact_tel}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> พิมพ์ใบนัด </th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row">
          <button (click)="print(element);$event.stopPropagation();" mat-icon-button>
            <mat-icon svgIcon="print"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/customer',row.id]" ></tr>
  </table>
  <mat-divider>
  </mat-divider>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

</div>
