<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="no-print" color="primary">
    <mat-toolbar-row [routerLink]="['/home']">
      <span>ระบบจัดการข้อมูลรับรถจอด</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="menu--color_blue">
      <button mat-button [routerLink]="['/customer']" routerLinkActive="active">นัดรับรถ</button>
      <button mat-button [routerLink]="['/parking']" routerLinkActive="active">รับรถจอด</button>
      <button mat-button [routerLink]="['/bill']" routerLinkActive="active">วางบิล</button>
      <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="active">ตั้งค่า</button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['setting/typeofinsure']" routerLinkActive="active_sub_menu">บริษัทประกัน</button>
        <button mat-menu-item [routerLink]="['setting/typeofcar']" routerLinkActive="active_sub_menu">ประเภทรถ</button>
        <button mat-menu-item [routerLink]="['setting/logo']" routerLinkActive="active_sub_menu">Logo</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxFlex="100%" fxLayout="column" class="app--content_container">
    <perfect-scrollbar fxFlex="100%">
      <router-outlet></router-outlet>
    </perfect-scrollbar>
  </div>

</div>
