@import '../variables.scss';

:host {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.menu--color_blue {
  background-color: $colorSubToolbar;
}

.active {
  background-color: royalblue;
}

.active_sub_menu {
  background-color: rgba(0,0,0,.04);
}

.app--content_container{
  height: calc(100vh - 128px);
}
