@import '../variables.scss';

:host {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.menu--color_blue {
  background-color: $colorSubToolbar;
}

.app--content_container{
  height: calc(100vh - 128px);
}
