<perfect-scrollbar>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="print--container">
    <div fxFlex="20%" class="logo">
      <img width="150" height="150" [src]="logo?.value" alt="">
    </div>
    <div fxFlex></div>
    <div fxFlex="78%" class="logo" fxLayout="column">
      <h1 class="margin-none">หจก.อู่สหมิตรยนตรกิจ</h1>
      <p class="margin-none">33 หมู่ 4 ต.คุ้งลาน อ.บางปะอิน จ.พระนครศรีอยุธยา 13160</p>
      <p class="margin-none">โทร.0-3533-1444-5, 098-248-4467, 098-248-4468, 098-248-4469 แฟกซ์.0-3522-6557</p>
      <p class="margin-none">อีเมล: tanakij@yahoo.co.th, tanakij.ay@gmail.com</p>
    </div>
    <div fxFlex="100%" class="print-body padding">
      <div class="title text-center">
        <h1>บัตรติดต่อ</h1>
      </div>
      <div class="text-left">
        <p>บริษัทประกัน {{claimInfo?.insure_type_desc}} รถยนต์ {{claimInfo?.brand}} เลขทะเบียน
          {{claimInfo?.car_number}}</p>
      </div>
      <table>
        <tbody>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาทะเบียนรถ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาใบขับขี่</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาบัตรประชาชนเจ้าของรถ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาหน้าตารางกรมธรรม์ประเภท1</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาหน้าตาราง พ.ร.บ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">อื่นๆ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-left">
        <p>วันที่นัดรถยนต์เข้าซ่อม {{claimInfo?.parking_date | dateTh}}</p>
      </div>
    </div>
    <div fxFlex="100%" class="row-separator"></div>
    <div fxFlex="20%" class="logo">
      <img width="150" height="150" [src]="logo?.value" alt="">
    </div>
    <div fxFlex></div>
    <div fxFlex="78%" class="logo" fxLayout="column">
      <h1 class="margin-none">หจก.อู่สหมิตรยนตรกิจ</h1>
      <p class="margin-none">33 หมู่ 4 ต.คุ้งลาน อ.บางปะอิน จ.พระนครศรีอยุธยา 13160</p>
      <p class="margin-none">โทร.0-3533-1444-5, 098-248-4467, 098-248-4468, 098-248-4469 แฟกซ์.0-3522-6557</p>
      <p class="margin-none">อีเมล: tanakij@yahoo.co.th, tanakij.ay@gmail.com</p>
    </div>
    <div fxFlex="100%" class="print-body padding">
      <div class="title text-center">
        <h1>บัตรติดต่อ</h1>
      </div>
      <div class="text-left">
        <p>บริษัทประกัน {{claimInfo?.insure_type_desc}} รถยนต์ {{claimInfo?.brand}} เลขทะเบียน
          {{claimInfo?.car_number}}</p>
      </div>
      <table>
        <tbody>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาทะเบียนรถ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาใบขับขี่</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาบัตรประชาชนเจ้าของรถ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาหน้าตารางกรมธรรม์ประเภท1</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">สำเนาหน้าตาราง พ.ร.บ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
          <tr>
            <td>
              <mat-checkbox [disabled]="true" class="option-checkbox"></mat-checkbox>
              <span class="padding">อื่นๆ</span>
            </td>
            <td>
              <p class="pull-right">จำนวน......................แผ่น</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-left">
        <p>วันที่นัดรถยนต์เข้าซ่อม {{claimInfo?.parking_date | dateTh}}</p>
      </div>
    </div>

    <div fxFlex="100%" class="parking-receive-detail--row no-print">
      <div class="button-row" fxFlex="100%">
        <button color="primary" mat-raised-button (click)="printPdf()">Print PDF</button>
        <button color="warn" mat-raised-button (click)="print()">Print</button>
      </div>
    </div>
  </div>

</perfect-scrollbar>
