<div class="customer-detail--container">
  <ng-container *ngIf="customer$ | async as customer">
    <form fxLayout="row wrap" [formGroup]="fg">
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">วันที่ติดต่อ</span>
        <strong *ngIf="!isEdit">{{customer?.contact_date | dateTh}}</strong>
        <mat-form-field *ngIf="isEdit">
          <input matInput [matDatepicker]="picker" placeholder="วันที่ติดต่อ" formControlName="contactDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="fg.get('contactDate').hasError('required')">
            กรุณาเพิ่มข้อมูล วันที่ติดต่อ
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ประกัน</span>
        <strong *ngIf="!isEdit">{{customer?.insure_type_desc}}</strong>
        <mat-form-field *ngIf="isEdit">
          <mat-select placeholder="ประกัน" formControlName="insureType">
            <mat-option *ngFor="let insure of insureItems$ | async" [value]="insure?.insure_type_id">{{insure?.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="fg.get('insureType').hasError('required')">
            กรุณาเพิ่มข้อมูล ประกัน
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ประเภทรถ</span>
        <strong *ngIf="!isEdit">{{customer?.car_type_desc}}</strong>
        <mat-form-field *ngIf="isEdit">
          <mat-select placeholder="ประเภทรถ" formControlName="typeOfCar">
            <mat-option *ngFor="let car of typeOfCarsItems$ | async" [value]="car?.car_type_id">{{car?.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="fg.get('typeOfCar').hasError('required')">
            กรุณาเพิ่มข้อมูล ประเภทรถ
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ยี่ห้อ</span>
        <strong *ngIf="!isEdit">{{customer?.brand}}</strong>
        <mat-form-field *ngIf="isEdit">
          <input matInput placeholder="ยี่ห้อ" formControlName="brand">
          <mat-error *ngIf="fg.get('brand').hasError('required')">
            กรุณาเพิ่มข้อมูล ยี่ห้อ
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ทะเบียน</span>
        <strong *ngIf="!isEdit">{{customer?.car_number}}</strong>
        <mat-form-field *ngIf="isEdit">
          <input matInput placeholder="ทะเบียน" formControlName="carNo">
          <mat-error *ngIf="fg.get('carNo').hasError('required')">
            กรุณาเพิ่มข้อมูล ทะเบียน
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">เบอร์ติดต่อ</span>
        <strong *ngIf="!isEdit">{{customer?.contact_tel}}</strong>
        <mat-form-field *ngIf="isEdit">
          <input matInput placeholder="เบอร์ติดต่อ" formControlName="tel">
          <mat-error *ngIf="fg.get('tel').hasError('required')">
            กรุณาเพิ่มข้อมูล เบอร์ติดต่อ
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ประกัน/คู่กรณี</span>
        <strong *ngIf="!isEdit">
          <ng-container *ngIf="customer?.customer_type === '1'">ประกัน</ng-container>
          <ng-container *ngIf="customer?.customer_type === '2'">คู่กรณี</ng-container>
        </strong>
        <mat-radio-group *ngIf="isEdit" class="radio_row" formControlName="customerType">
          <mat-label>
            ประกัน/คู่กรณี :
          </mat-label>
          <mat-radio-button value="1">ประกัน</mat-radio-button>
          <mat-radio-button value="2">คู่กรณี</mat-radio-button>
          <mat-error *ngIf="fg.get('customerType').dirty && fg.get('customerType').hasError('required')">
            กรุณาเพิ่มข้อมูล ประกัน/คู่กรณี
          </mat-error>
        </mat-radio-group>
      </div>
      <div fxFlex></div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ความเสียหาย</span>
        <strong *ngIf="!isEdit">
          <ng-container *ngIf="customer?.service_level === '1'">A</ng-container>
          <ng-container *ngIf="customer?.service_level === '2'">B</ng-container>
          <ng-container *ngIf="customer?.service_level === '3'">C</ng-container>
        </strong>
        <mat-radio-group *ngIf="isEdit" class="radio_row" formControlName="level">
          <mat-label>
            ความเสียหาย :
          </mat-label>
          <mat-radio-button value="1">A</mat-radio-button>
          <mat-radio-button value="2">B</mat-radio-button>
          <mat-radio-button value="2">C</mat-radio-button>
          <mat-error *ngIf="fg.get('level').dirty && fg.get('level').hasError('required')">
            กรุณาเพิ่มข้อมูล ความเสียหาย
          </mat-error>
        </mat-radio-group>
      </div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">ทำเรื่องก่อนจอด</span>
        <strong *ngIf="!isEdit">
          <ng-container *ngIf="customer?.is_parking === '0'">ไม่ใช่</ng-container>
          <ng-container *ngIf="customer?.is_parking === '1'">ใช่</ng-container>
        </strong>
        <mat-checkbox *ngIf="isEdit" (change)="onAppointmentChange($event)" formControlName="isAppointment">ทำเรื่องก่อนจอด</mat-checkbox>
      </div>
      <div fxFlex></div>
      <div fxFlex.lt-sm="100%" fxFlex="45%" fxLayout="column" class="customer-detail--content">
        <span class="text-md" *ngIf="!isEdit">วันที่นัดจอด</span>
        <strong *ngIf="!isEdit">{{customer?.parking_date | dateTh}}</strong>
        <mat-form-field *ngIf="isEdit">
          <input matInput [matDatepicker]="parkingDatepicker" placeholder="วันที่นัดจอด" formControlName="parkingDate">
          <mat-datepicker-toggle matSuffix [for]="parkingDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #parkingDatepicker></mat-datepicker>
          <mat-error *ngIf="fg.get('parkingDate').hasError('required')">
            กรุณาเพิ่มข้อมูล วันที่นัดจอด
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-row" fxFlex="100%">
        <button color="accent" mat-raised-button (click)="onEdit()">
          <ng-container *ngIf="!isEdit else cancelEdit">แก้ไข</ng-container>
        </button>
        <button color="primary" mat-raised-button (click)="updateCustomer()">บันทึก</button>
        <button color="warn" mat-raised-button (click)="cancel()">ยกเลิก</button>
      </div>
    </form>
  </ng-container>
</div>

<ng-template #cancelEdit>
  <span>ยกเลิกแก้ไข</span>
</ng-template>